<% if user_signed_in? %>
	<div class="hero-unit">
		<h3>Your Purple<font color="#FF00FF">Walnut</font></h3><hr>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</p>
	</div>
<% else %>
	<div class="hero-unit">
		<h3>Purple<font color="#FF00FF">Walnut</font></h3><hr>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Pruple<font color="#FF00FF">Walnut</font>. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</p>
		<p>
			Link to our homepage: <%= link_to "PurpleWalnut", "http://www.google.com" %> is under construction.
		</p>
		<br>
		<p>
			<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>